body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header {
    display: flex;
    background-color: lightcoral;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

#user-choices,
#dialog {
    flex-grow: 1;
    border: black 4px solid;
    margin: 40px;
    text-align: center;
    min-height: 100px;
}

p {
    padding: 10px;
}

button {
    padding: 16px;
    margin: 8px;
    background-color: black;
    color: lightcoral;
    border-radius: 10%;
    font-weight: bold;
    font-size: 20px;
}