body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header {
    display: flex;
    background-color: lightcoral;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

#user-choices,
#dialog {
    align-self: center;
    margin: 40px;
}

p {
    padding: 10px;
}